<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.fatwabot.widget.NextPrayerWidgetReceiver"
            android:exported="false"
            android:label="@string/widget_next_prayer">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_info" />
        </receiver>

        <receiver
            android:name="com.fatwabot.widget.HijriDateWidgetReceiver"
            android:exported="false"
            android:label="@string/widget_hijri">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_info" />
        </receiver>

        <receiver
            android:name="com.fatwabot.widget.StreakWidgetReceiver"
            android:exported="false"
            android:label="@string/widget_streak">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_info" />
        </receiver>

        <receiver
            android:name="com.fatwabot.widget.DailyChallengeWidgetReceiver"
            android:exported="false"
            android:label="@string/widget_daily_challenge">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_info" />
        </receiver>
        <receiver
            android:name="com.fatwabot.widget.PrayerDayWidgetReceiver"
            android:exported="false"
            android:label="@string/widget_prayer_times">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_large_info" />
        </receiver>

        <receiver
            android:name="com.fatwabot.widget.PrayerDaySheetWidgetReceiver"
            android:exported="false"
            android:label="@string/widget_day_sheet">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_large_info" />
        </receiver>

        <receiver
            android:name="com.fatwabot.widget.RandomDuaWidgetReceiver"
            android:exported="false"
            android:label="@string/widget_dua">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_dua_info" />
        </receiver>

        <receiver
            android:name="com.fatwabot.widget.HadithWidgetReceiver"
            android:exported="false"
            android:label="@string/widget_hadith">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_hadith_info" />
        </receiver>

    </application>
</manifest>
